body {
    font-family: 'Nunito', sans-serif;
}

section {
    margin-bottom: 100px;
}

/* Section1*/
.section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 600px;
    border-radius: 50px;
    background-color: rgb(17, 3, 3);
    margin: 50px 100px 50px 100px;
}

.h1 {
    font-size: 60px;
    color: rgb(233, 243, 232);
    text-align: justify;
    margin-top: 100px;
    margin-left: 90px;
}


.image1 img {
    height: 600px;
    width: 580px;
    padding: 0px;


}

#p1 {
    font-family: 'Edu TAS Beginner', cursive;
    color: white;
    font-size: 20px;
    margin-left: 90px;
    text-align: justify;

}

#button1 {
    font-size: 18px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(red, rgb(181, 66, 46));
    padding: 15px 17px 15px 17px;
    border-radius: 5px;
    margin-left: 90px;
    line-height: 100px;

}

.fa-thin {
    padding-left: 20px;
}

/* section1 done */



/* section2 */
.section2 {
    display: flex;
    gap: 30px;

}

.blog-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: auto;
}





.button {


    height: 170px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    margin-left: 70px;
    padding-top: 100px;
    padding-right: 20px;
    background-color: black;
}

.buttonAll {
    display: flex;
    flex-direction: column;


}

.buttonAll a {
    text-decoration: none;
    color: black;

}

.b1 {
    font-size: 20px;
    padding: 17px;
    border-radius: 10px;
    margin-top: -80px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.b2 {
    font-size: 20px;
    padding: 17px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.b3 {
    text-decoration-color: white;
    background-color: rgb(238, 64, 64);
    font-size: 20px;
    padding: 17px;
    border-radius: 10px;
    margin-left: 20px;
}


.transfer-1 {

    border: 2px solid black;
    border-radius: 5px;
}


.transfer-2 {
    padding-left: 30px;
    padding-bottom: 30px;
}

.transfer-3 {
    padding-left: 30px;
    padding-bottom: 30px;
}

.transfer-4 {
    border: 2px solid chocolate;
    border-radius: 5px;
    margin-left: 0px;
    padding-bottom: 30px;
}

.transfer-5 {
    border: 2px solid chocolate;
    border-radius: 5px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.transfer-6 {
    border: 2px solid chocolate;
    border-radius: 5px;
    padding-left: 30px;
    padding-bottom: 30px;
}



.img {
    display: flex;

}

.img span {
    padding: 5px;
}

.blog-1 a {
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 2px;

}















/* section2 done */









/* footer */
footer {
    background-color: rgb(5, 1, 1);
    height: 444px;
}

footer h2 {
    font-size: 35px;
    padding-top: 100px;
    padding-bottom: 50px;
    color: rgb(240, 233, 233);
    text-align: center;

}

.hr {
    width: 80%;
}

#p2 {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding-left: 200px;
    padding-top: 40px;
    color: white;
}

#p3 {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding-left: 100px;
    padding-top: 40px;
    color: white;
}

#p4 {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding-left: 100px;
    padding-top: 40px;
    color: white;
}

#p5 {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding-left: 100px;
    padding-top: 40px;
    color: white;
}

#p5 {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding-left: 100px;
    padding-top: 40px;
    color: white;
}

#p6 {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding-left: 100px;
    padding-top: 40px;
    color: white;
}

#p7 {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding-left: 100px;
    padding-top: 40px;
    color: white;
}

/* footer done */